@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

/* NAV-BAR */
.nav-bar {
  height: 64px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dadce0;
  color: #5f6368;
}

.nav-bar i,
.nav-bar img {
  padding: 10px;
}

/* NAV-BAR MISCELLANEOUS */
.hover:hover {
  background-color: #f1f3f4;
  color: black;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: #f1f3f4;
  background-color: #202124;
  opacity: 0.85;
  white-space: nowrap;
  padding: 5px 8px;
  border-radius: 5px;
  letter-spacing: 1px;
  top: 100%;
  left: 0;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.keep-tooltip {
  position: relative;
}

.keep-tooltip-text {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  border: 0.5px solid black;
  padding: 5px 8px;
  top: 100%;
  left: 10px;
  visibility: hidden;
}

.keep-tooltip:hover .keep-tooltip-text {
  visibility: visible;
}

/*NAV-BAR LOGO-AREA */
.logo-area {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.list-view {
  block-size: 40px;
}
.keep-logo {
  height: 60px;
  width: 56px;
  cursor: pointer;
}

.keep-text {
  cursor: pointer;
}

/*NAV-BAR SEARCH-AREA */
.search-area {
  display: flex;
  align-items: center;
  height: 48px;
  width: 692px;
}

.search-area input {
  border: none;
  background-color: #f1f3f4;
  height: 100%;
  width: 95%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
}

.search-area button {
  border: none;
  height: 100%;
  width: 46px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-inline: 5px;
  color: #5f6368;
}

input:focus {
  outline: none;
}

/*NAV-BAR SETTINGS-AREA */

.settings-area {
  display: flex;
  align-items: center;
}

/*NAV-BAR PROFILE-ACTIONS-AREA*/

.profile-actions-area {
  display: flex;
  margin-right: 15px;
}

/********************************SIDE-BAR********************************/

.side-bar {
  display: flex;
  flex-direction: column;
  padding-left: 18px;
  padding-top: 10px;
  row-gap: 22px;
  color: #5f6368;
}

.side-bar-items {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.side-bar-items--text {
  color: black;
  font-size: 14px;
  width: 250px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.active {
  background-color: #fef0c3;
  border-radius: 50%;
  color: black;
}

.active:hover {
  background-color: #fef0c3;
}

/********************************MAIN-CONTAINER********************************/

.main-aside-wrapper {
  display: flex;
}

.main-container {
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  max-width: 598px;
  height: 46px;
  margin: 32px auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #e0e1e0;
  border-radius: 7px;
}

.form-actions {
  display: flex;
  column-gap: 33px;
  color: #5f6368;
}

.form-actions:last-child {
  margin-right: 25px;
}

.input-note {
  border: none;
  font-size: 16px;
  margin: 10px 0px 10px 10px;
  height: 24px;
  width: 100%;
}

/********************************ACTIVE-FORM********************************/
.active-form {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 7px;
  height: fit-content;
}

.active-form .form-actions {
  display: flex;
  width: 100%;
  margin-left: 40px;
}

.active-form--close-btn {
  font-weight: 500;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 24px;
}

.active-form--close-btn:hover {
  background-color: #eef0f496;
}

.active-form .form-actions .icons {
  display: flex;
  column-gap: 24px;
  width: 100%;
  margin-top: 15px;
}

.active-form .form-actions .material-icons {
  font-size: 18px;
}

.note-title {
  border: none;
  font-size: 16px;
  margin: 10px 0px 10px 10px;
  height: 24px;
  width: 100%;
}

.note-title,
.active-form .input-note {
  margin-left: 20px;
}

.active-form .input-note {
  height: 100%;
}

/********************************MODAL********************************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.modal-content {
  width: 589px;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.open-modal {
  visibility: visible;
}

/********************************NOTES********************************/

.notes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-inline: 50px;
}

.create-note {
  background-color: white;
  width: 240px;
  height: 104px;
  border: 1px solid #e0e1e0;
  border-radius: 7px;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.create-note:hover {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2);
}

.create-note--title {
  width: 100%;
  margin: 10px 0 0 17px;
}
.create-note--text {
  width: 100%;
  margin: 10px 0 0 17px;
}

.create-note--footer {
  display: flex;
  margin-top: 5px;
  column-gap: 18px;
  justify-content: center;
  visibility: hidden;
}

.create-note--footer .material-icons {
  color: #5f6368;
  font-size: 18px;
}

.check-circle {
  position: absolute;
  left: -12px;
  top: -11px;
  visibility: hidden;
}
